<div class="progress-container" data-progress-value=<%= progress_value %>>
</div>
<h4><%= title %></h4>
<br>
<div class="text-muted">
  <span><%= subtitle %></span>
</div>
<br>
<div class="text-muted">
  <span class="page-timer" data-deadline=<%= deadline %>></span>
</div>
