<%= form_for(goals_goal) do |f| %>
  <% if goals_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goals_goal.errors.count, "error") %> prohibited this goals_goal from being saved:</h2>

      <ul>
      <% goals_goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
